.siteName {
   text-align: center;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.fr {
   float: right;
   padding-right: 15px;
}

.si {
   float: left;
   padding-left: 15px;
}

.ti {
   text-align: center;
}

.stud {
   text align: center;
}
